@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  primary-color: "#CC0D39",
  secondary-color: "#F7941F",
  secondary-light-color: "#FEEB9D",
  primary-dark-color: "#13172B",
  white-color: "#ffffff",
  text-color: "#5E626F",
  light-gray: "#AEB0B6",
  main-bg: "#FFFAF3",
  gray-bg: "#F9F3F0",
  --font-16: 16px;
  --font-18: 18px;
  --heading-font: "Aoboshi One", sans-serif;
  --body-font: "DM Sans", sans-serif;
} */

body {
  font-family:"Aoboshi One", sans-serif;
}
