@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Aoboshi One', sans-serif;
}

.ant-dropdown-menu {
  width: 200px;
  padding: 15px 30px !important;
}

.ant-dropdown-menu-item {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 40px !important;
  color: #13172b !important;
  padding: 0 5px !important;
  border-bottom: 1px solid rgba(48, 34, 34, 0.1);
}

.ant-dropdown-menu-item-active {
  background-color: transparent !important;
  color: #cc0d39 !important;
  font-weight: 600 !important;
}
